header.header
    .header__titles
        h1.title Social Media Dashboard
        p.subtitle Total Followers: 23,004
    .header__modes
        p.subtitle Dark Mode
        input.toggle#toggle(type="checkbox")
        label.header__modes-label(for="toggle")