-const pageTitle = 'Frontend Mentor | Social media dashboard with theme switcher'

//- SEO
-const author = 'Alexcarmonadev'
-const type = 'website'
-const description = 'Frontend Mentor Challenges are challenges to improve front-end coding skills by creating real projects.'
-const keywords = 'html, css, javascript, front-end, websites'
