@import "utils/mixins";
@import "base/colors";

// ------------Footer------------
.attribution {
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    color: var(--footer);

    a {
        color: var(--footer2);
    }

    @include desktop {
        font-size: 0.85em;
    }
}
